<div>
        <div class="is-fullwidth columns">
            <div class="column is-one-third"></div>
            <div class="column is-one-third">
                <div class="message">
    
                    <div class="message-header is-size-4"><i class="fa fa-frown-o"> &nbsp;Error</i></div>
                    <div class="message-body has-text-centered">
                            <div class="is-size-4"><i class="fa fa-exclamation-triangle is-size-1"></i> HTTP 500</div><hr>
                        <em>Something's gone horribly wrong!</em>
                        <hr>
                        <a href="./" class="button is-link"><i class="fa fa-arrow-left">&nbsp;</i>Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>